<<<<<<< HEAD
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background: #01137adc;
}

h1 {
  color: #fff;
  text-align: center;
}

.form-registro {
  width: 95%;
  max-width: 500px;
  margin: auto;
  background: #fff;
  border-radius: 7px;
}

.form__titulo {
  background: rgb(0, 191, 255);
  color: #fff;
  padding: 20px;
  text-align: center;
  font-weight: 100;
  font-size: 30px;
  border-radius: 7px 7px 0 0;
  border-bottom: 5px solid crimson;
}

.contenedor-inputs {
  padding: 20px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

input,
select {
  margin-bottom: 15px;
  padding: 15px;
  font-size: 13px;
  border-radius: 3px;
  border: 1px solid darkgray;
}

.input-48 {
  width: 48%;
}

.input-100 {
  width: 100%;
}

.btn-enviar {
  background: crimson;
  color: #fff;
  margin: auto;
  padding: 10px 40px;
  cursor: pointer;
  font-size: 14px;
}

.btn-enviar:active {
  transform: scale(1.05);
}
=======


.txt-box{
    border: solid blue;
    border-radius: 12px;
    height: 20px; 
}
>>>>>>> 72a739beb022542142e7b77293847b4514b16297
